body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 827px;
    height: 1170px;
    margin: 2rem auto;
    border: 1px solid #0084b4;
    color: #384347;
}

a {
    color: #384347;
    text-decoration: none;
}

/* HEADER */

.header {
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00aced;
    height: 16%;
}

.headings h1 {
    font-size: 1.8rem;
    font-weight: 600;
}

.headings h2 {
    font-size: 1.6rem;
    font-family: 'Lobster Two', cursive;
    margin-top: .4rem;
}

.headings h2 span {
    font-size: 1.3rem;
    font-family: 'Lobster Two', cursive;
    font-style: italic;
}

.admin {
    margin-top: .5rem;
}

.admin ol {
    display: flex;
    flex-wrap: wrap;
}

.admin li {
    margin-top: .3rem;
    width: 50%;
}


#phone {
    transform: rotate(90deg);
}

.admin i {
    margin-right: .5rem;
}

.admin p {
    display: inline-block;
}

.admin a:hover {
    color: #c0deed;
}

.picture {
    width: 20%;
}

img {
    max-width: 100%;
    border-radius: 50%;
}

/* Main */

.main {
    height: 84%;
    display: flex;
    flex-wrap: wrap;
}

.top {
    width: 100%;
    font-family: 'Lobster Two', cursive;
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: -2rem;
}


.left, .right {
    padding-left: 3rem;
}

.left {
    width: 60%;
}
.titles {
    color: #00aced;
    font-family: 'Lancelot', cursive;
    font-size: 2rem;
    margin-top: 1.5rem;
    border-bottom: 2px solid #00aced;
}

.xp-unique ol {
    list-style: disc inside;
    margin-top: .3rem;
}

/* Left part */

.xp-unique, .formation {
    margin-top: 1rem;
}

.role {
    font-size: 1.2rem;
    font-weight: 400;
}

.company {
    font-style: italic;
    font-size: 1rem;
    margin-top: .3rem;
}

.time-wrapper {
    display: flex;
}

.time-wrapper p {
    display: inline-block;
}

.time, .place {
    margin-top: .3rem;
    font-size: .8rem;
    width: 50%;
}


/* Right part */

.right {
    width: 40%;
    padding-right: 3rem;
}

.adminis p {
    margin-top: .3rem;
}

.adminis-ps {
    margin-top: 1rem;
}

.adminis-span {
    margin-right: .5rem;
    /* color: #00aced; */
}

.me-p {
    margin-top: 1rem;
    line-height: 1.1rem;
}

.talents {
    margin-top: 1rem;
}

.talents-li {
    display: flex;
    justify-content: space-between;
    margin-top: .3rem;
}

.talents-rate {
    color: #00aced;
    font-size: .6rem;
}

.fa-circle {
    margin-left: .2rem;
}
