html {
    font-size: 85%;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 827px;
    height: 1170px;
    margin: 2rem auto;
    border: 1px solid #0084b4;
    color: #384347;
}

a {
    color: #384347;
    /* text-decoration: none; */
}

strong {
    font-weight: 500;
}

em {
    color: #00aced;
    font-style: normal;
    font-size: .9em;
    margin-left: 1rem;
}

/* HEADER */

.header {
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00aced;
    height: 13%;
}

.headings h1 {
    font-size: 1.8rem;
    font-weight: 600;
}

.headings h2 {
    font-size: 1.6rem;
    font-family: 'Lobster Two', cursive;
    margin-top: .4rem;
}

.headings h2 span {
    font-size: 1.3rem;
    font-family: 'Lobster Two', cursive;
    font-style: italic;
}

.admin {
    margin-top: .8rem;
}

.admin ul {
    display: flex;
    flex-wrap: wrap;
}

.admin li {
    margin-top: .3rem;
    width: 50%;
}


#phone {
    transform: rotate(90deg);
}

.admin i {
    margin-right: .5rem;
}

.admin p {
    display: inline-block;
}

.admin a:hover {
    color: #c0deed;
}

.picture {
    width: 20%;
}

.portrait {
    max-width: 100%;
    border-radius: 50%;
    padding: 1rem;
}

/* Main */

.main {
    height: 87%;
    display: flex;
    flex-direction: column;
}

.top {
    width: 100%;
    font-family: 'Lobster Two', cursive;
    font-size: 1.3rem;
    font-style: italic;
    text-align: center;
    padding-top: 1rem;
}

.section-wrapper {
    display: flex;
    flex-wrap: wrap;
}


.left, .right {
    padding-left: 3rem;
}

.left {
    width: 65%;
}
.titles {
    color: #00aced;
    font-family: 'Lancelot', cursive;
    font-size: 2rem;
    margin-top: 1.7rem;
    border-bottom: 2px solid #00aced;
}

.xp-unique ul {
    list-style: outside;
    margin-top: .3rem;
    margin-left: 1.4rem;
}

.xp-unique li {
    margin-top: .1rem;
}


/* Left part */

.xp-unique, .formation {
    margin-top: .8rem;
}

.role {
    font-size: 1.2rem;
    font-weight: 400;
}

.company {
    font-style: italic;
    font-size: 1rem;
    margin-top: .4rem;
}

.time-wrapper {
    display: flex;
    margin-top: .1rem;
}

.time-wrapper p {
    display: inline-block;
}

.time, .place {
    margin-top: .3rem;
    font-size: .8rem;
    width: 50%;
}

.formation ul {
    margin-top: .5rem;
}


/* Right part */

.right {
    width: 35%;
    padding-right: 3rem;
}

.adminis-list {
    list-style: none outside;
}

.adminis-list li {
    margin-top: .3rem;
}

.hobbies li {
    margin-left: 2.2rem;
    text-indent: -1.1rem;
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    padding-right: .7rem
}

.sport::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f206";
}

.reading::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f5da";
}

.music::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f001";
}

.adminis p {
    margin-top: .3rem;
}

.adminis-ps {
    margin-top: 1rem;
}

.adminis-span {
    margin-right: .5rem;
    /* color: #00aced; */
}

.me-p {
    margin-top: 1rem;
    line-height: 1.1rem;
}

.talents {
    margin-top: 1rem;
}

.talents-li {
    display: flex;
    justify-content: space-between;
    margin-top: .3rem;
}

.talents-rate {
    color: #00aced;
    font-size: .6rem;
}

.fa-circle {
    margin-left: .2rem;
}

.opquast {
    margin-top: .5em;
    width: 32%;
}

@media print {
    body {
        margin: 0;
        border: none;
    }
}
